nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
}

/* ... other styles ... */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .model_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .model_header {
    text-align: center;
    margin-bottom: 2rem;
  }
  .model_header h3{
    color: white;
  }
  
  .model_header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .model_header h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .model_header p {
    font-size: 0.8rem;
    color: #999;
  }
  
  .model_header p span {
    color: #f57c00;
  }
  
  .model_topic_list {
    text-align: center;
  }
  
  .model_topic_list h1 {
    font-size: 1.2rem;
    color: white;
    text-align: left;

  }
  
  .model_topic_list ul {
    list-style-type: disc;
    text-align: left;
    /* margin-left: 2rem; */
    margin-top: 1rem;
  }
  
  .model_topic_list li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: self-start;

  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .popup-close:hover{
    color: #f57c00;
  }
  
  /* ... other styles ... */
    

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav__menu {
    display: flex;
    gap: 3.5rem;
}

.nav__menu a {
    color: white;
}

#theme__icon {
    background: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
    .nav__menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
  .popup{
    width: 90%;
  }
    .model_topic_list{
        display: none;
        width: 100%;
    }
    .model_header h3{
        display: none !important;
    }

    .model_header h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .model_header h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .model_header p {
    font-size: 0.8rem;
    color: #999;
  }
}
