nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
}

.playButton {
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
/* ... other styles ... */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Adjust width as needed */
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* ... other styles ... */
    

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav__menu {
    display: flex;
    gap: 3.5rem;
}

.nav__menu a {
    color: white;
}

#theme__icon {
    background: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
    .nav__menu {
        display: none;
    }
}